/* need to go back and redo this */

.alert-info{
        background-color: lightblue;
        text-align: center;
        flex-direction: column;
    justify-content: center;
    border: 1px solid gray;
    }
h1 {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Ubuntu, sans-serif;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 45px;
}

a{
    color: blue;
    display: flex;
    justify-content: center;
}
.main{
    margin-bottom: 2em;
}
h2 {
    margin-bottom: .5em;
}

.sub-section{
    font-style: italic;
}

@media all and (min-width: 525px) {
    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }
    h1{
        float:left;
    }
    .hidden-on-desktop {
        display: none;
        background-color: lightblue;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 5px;

    }
    .main {
        float: left;
    }
    .sub-section {
        margin-right: 2rem;
        padding: 2rem 0;
        float: right;
    }
}